<!DOCTYPE html>
<html>
    <head>
        <title>Tasks</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Tasks</h1>
                <div>
                    {% if tasks %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for each in tasks.all %}
                                    <tr>
                                        <td>{{ each.name }}</td>
                                        <td>{{ each.start_date }}</td>
                                        <td>{{ each.end_date }}</td>
                                        {% if each.is_completed %}
                                            <td>Done</td>
                                        {% else %}
                                            <td>
                                                <form method="post" action="{% url 'complete_task' each.id %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="is_completed" value="True">
                                                    <button>Complete</button>
                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>
                            You have no tasks
                        </p>
                    {% endif %}
                </div>
            </main>
        </body>
    </html>
