{% load markdownify %}
<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div>
            <a href="{% url 'create_task' %}">Create a Task</a>
        </div>
    </header>
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p>
                {{ project.description|markdownify }}
            </p>
        </div>
        <div>
            <h2>Tasks</h2>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for each in project.tasks.all %}
                        <tbody>
                            <tr>
                                <td>{{ each.name }}</td>
                                <td>{{ each.assignee }}</td>
                                <td>{{ each.start_date }}</td>
                                <td>{{ each.due_date }}</td>
                                {% if each.is_completed %}
                                    <td>Yes</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>
                    This project has no tasks
                </p>
            {% endif %}
        </div>
    </main>
</body>
</html>
