<!DOCTYPE html>
<html>
    <head>
        <title>Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <nav>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </nav>
        <main>
            <div>
                <h1>My Projects</h1>
                <div>
                    {% if project_list %}
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Number of tasks</th>
                            </tr>
                            {% for each in project_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'show_project' each.pk %}">{{ each.name }}</a>
                                    </td>
                                    <td>{{ each.tasks.all|length }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>
                            You are not assigned to any projects
                        </p>
                    {% endif %}
                </div>
            </main>
        </body>
    </html>
